
@* <form> *@
@*     <div class="mb-3"> *@
@*         <label class="form-label">Фамилия</label> *@
@*         <input type="text" class="form-control"> *@
@*     </div> *@
@*     <div class="mb-3"> *@
@*         <label class="form-label">Имя</label> *@
@*         <input type="text" class="form-control"> *@
@*     </div> *@
@*     <div class="mb-3"> *@
@*         <label class="form-label">Отчество</label> *@
@*         <input type="text" class="form-control"> *@
@*     </div> *@
@*     <div class="mb-3"> *@
@*         <label class="form-label">Номер телефона</label> *@
@*         <input type="tel" class="form-control"> *@
@*     </div> *@
@* *@
@*     <button type="submit" class="btn btn-primary">Отправить</button> *@
@* </form> *@

@{
ViewData["Title"] = "Home Page";
}

<form asp-controller="Contacts" asp-action="AddContact" method="post">
    <input type="text" name="firstName" placeholder="First Name" />
    <input type="text" name="lastName" placeholder="Last Name" />
    <input type="text" name="middleName" placeholder="Middle Name" />
    <input type="text" name="phoneNumber" placeholder="Phone Number" />
    <button type="submit">Add Contact</button>
</form>