<div class="form-size-sm mother">
    <div class="child ">
        <div class="h4 pb-2 mb-4 text-light border-bottom border-light">
            Введите данные
        </div>
        <form class="row form-size-sm-2" asp-controller="Info" asp-action="AddContact" method="post">
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control mb-3" style="box-shadow: none;" type="text" name="firstName" placeholder="First Name" />
                    <label for="floatingInputGroup1">Имя</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control mb-3" style="box-shadow: none;" type="text" name="lastName" placeholder="Last Name" />
                    <label for="floatingInputGroup1" >Фамилия</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control mb-3" style="box-shadow: none;" type="text" name="middleName" placeholder="Middle Name" />
                    <label for="floatingInputGroup1">Отчество</label>
                </div>
            </div>
            <div class="">
                <div class="form-floating">
                    <input class="form-control mb-3" style="box-shadow: none;" type="number" name="phoneNumber" placeholder="Phone Number" />
                    <label for="floatingInputGroup1">Номер телефона</label>
                </div>
            </div>

            <div class="">
                <div class="form-floating">
                    <input class="form-control mb-3" style="box-shadow: none;" type="text" name="carNumber" placeholder="Phone Number" />
                    <label for="floatingInputGroup1">Номер Автомобиля</label>
                </div>
            </div>

            <div class="">
                <div class="form-floating">
                    <input class="form-control mb-3" style="box-shadow: none;" type="text" name="carModel" placeholder="Phone Number" />
                    <label for="floatingInputGroup1">Модель автомобиля</label>
                </div>
            </div>
            <div class="form-floating">
                <button class="btn btn-primary" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>