@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="mb-3">
        <label class="form-label">Фамилия</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Имя</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Отчество</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Номер телефона</label>
        <input type="tel" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>