@{
ViewData["Title"] = "Home Page";
}
<head>
    <link href="css/site.css">
</head>
<div class="container form-size-sm mt-5">
    <h3>Enter the data</h3>
    <form class="" asp-controller="Contacts" asp-action="AddContact" method="post">
        <input class="form-control mb-3" type="text" name="firstName" placeholder="First Name" />
        <input class="form-control mb-3" type="text" name="lastName" placeholder="Last Name" />
        <input class="form-control mb-3" type="text" name="middleName" placeholder="Middle Name" />
        <input class="form-control mb-3" type="text" name="phoneNumber" placeholder="Phone Number" />
        <button class="btn btn-primary" type="submit">Add Contact</button>
    </form>
</div>


@* <form asp-controller="Contacts" asp-action="AddContact" method="post"> *@
@*     <input type="text" name="firstName" placeholder="First Name" /> *@
@*     <input type="text" name="lastName" placeholder="Last Name" /> *@
@*     <input type="text" name="middleName" placeholder="Middle Name" /> *@
@*     <input type="text" name="phoneNumber" placeholder="Phone Number" /> *@
@*     <button type="submit">Add Contact</button> *@
@* </form> *@