html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url(Mojave_macOS-1809967.jpg);
  background-size: cover;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */

}

h3 {
  color: white;
}

.form-size-sm {

  background: transparent;
  background: rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
}
.form-size-sm-2 {
  
}

.mother {
  width: 60%;
  height: 60%;
  margin-top: 10%;
}
.child {
  width: auto;
  padding-left: 5%;
  margin-right: 5%;
  padding-top: 70px;
  height: 100%;
  padding-bottom: 40px;
}